body {
  background-color: white;
  h1 { font-size: 1.3em};
  h2 { font-size: 1.1em};
  h3 { font-size: 0.9em};
  h4 { font-size: 0.9em};
  p { font-size: 0.9em};
  li { font-size: 0.9em}
}

.main-container {
  // border: 5px solid red; // debug

  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: white;
}

#name {
  margin: 1em 0em 3em 0em;
}

.header {
  // border-bottom: 1px solid black;

  flex: 0 0 auto;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  width: 80vw;
  padding: 0vw 1vw;

  img {
    margin: 0px 25px 0px 0px;
  }

  h1 {
    margin: 0px;
    padding: 0px 0px 0px 0px;
  }
}

.content {
  // border: 2px solid black; // debug


  flex: 0 0 auto;

  width: 80vw;
  min-height: inherit;

  @media screen and (min-width: 800px) {

    display: flex;
    justify-content: space-around;
    align-items: flex-start;

  }

  .topline, .short-bio, .info {
    // border: 1px solid green; // debug

    @media screen and (min-width: 800px) {
      width: 50vw;
    }

    @media screen and (max-width: 800px) {
      width: 80vw;
    }

    display: flex;
    justify-content: flex-start;
    align-items: center;

    .stuff {
      // padding: 10px 20px;
      max-height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;

      div {
        flex: 0 0 auto;
      }
    }

  }

  .ad-hoc {
    // border: 1px solid blue; // debug

    flex: 0 0 auto;

    @media screen and (min-width: 800px) {
      width: 25vw;
    }

    @media screen and (max-width: 800px) {
      width: 80vw;
    }

    max-height: 75vh;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center

  }
}

.navbar {

  // border: 1px solid gray; // debug

  flex: 0 0 auto;

  min-height: 8vh;
  width: inherit;

  display: flex;
  justify-content: space-around;
  align-items: center;

  margin: 0px;
  border-bottom: 1px solid rgba(1,1,1,0.2);

  p {
    flex: 0 0 auto;
    font-size: 1em;
    margin: 0;
  }

}

.ad-hoc {

  // border: 1px solid gray; // debug

  flex: 0 0 auto;

  min-height: 65vh;
  width: inherit;

}

.topline, .short-bio, .info {

  flex: 0 0 auto;

  // width: inherit;

}

.short, .short-bio, .info, .social, .ad-hoc  {
  background: #fff;
  border-radius: 2px;
  // box-shadow: 0px 0px 10px 2px rgba(179,179,179,0.59);
  box-shadow: 0px 0px 10px 2px rgba(179,179,179,0.2);
}

.avatar-bordered {
  height: 18vh;
  border-radius: 3%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: white 1px solid;
}

// .info-container {
//   display: flex;
//   flex-direction: column;
//   justify-contents: stretch;
//   align-items: flex-start
// }

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 75vh;
}

.info {
  // min-height: 40vh;

  padding: 1em;
}

.topline {

  display: flex;
  justify-content: space-between !important;
  align-items: center;

  .social, .short {
    flex: 0 0 auto;
    min-height: 6.5vh;
    min-width: 6.5vh;
  }

  .social {
    // margin: 0vw 0vw 0vw 2vw;
    position: relative;

    i {
      position: absolute;
      top: 50%;  /* position the top  edge of the element at the middle of the parent */
      left: 50%; /* position the left edge of the element at the middle of the parent */

      transform: translate(-50%, -50%);

      font-size: 2vw;
    }
  }
}

.topline, .short-bio, .info {
  max-width: 45vw !important;
}


