<div class="about">
  <h1 id="focus-headline">My focus: Strategy and Venture Capital.</h2>
  <div class="about-content">
    <div class="tl-dr">
      <p><a href="https://en.wikipedia.org/wiki/TL;DR">TL;DR</a></p>
      <li><p>Currently studying MSc Management & Strategy at LSE</p></li>
      <li><p>Interested in technology and business.</p></li>
      <li><p>Open for full-time roles (from Fall 2019). Open for good ideas & coffee (anytime).</p></li>
    </div>
    <div class="more-info">
      <h2>More Info:</h2>
      <li id="hide-list"><p>Technology fascinates me. Even more so: its power to shape the strategies of modern businesses. <p/></li>
      <li id="hide-list"><p>So, I have tried to build on this interest: By undergoing business education from WHU, Bocconi and now LSE. By (successfully) bootstrapping a digital company. By working in a team in various functions, in various tech, strategy consulting and VC internships. And finally, by involving myself on the product side and learning how to code (at a leading global programming bootcamp).</p></li>
      <li id="hide-list"><p>I am searching for another great chance to learn and build after finishing university. If you like my profile and offer an opportunity to make an impactful contribution in a strategic field, do contact me via the links below.. <p/></li>
    </div>
  </div>

</div>
