<div class="about">
  <div class="about-content">
    <div class="more-info">
      <li id="hide-list"><p>Technology fascinates me. Even more so: its power to shape the strategies of modern businesses. <p/></li>
      <li id="hide-list"><p>So, I have tried to build on this interest: By undergoing business education from WHU, Bocconi and now LSE. By (successfully) bootstrapping a digital company. By working in a team in various functions in tech, strategy consulting and VC. And finally, by involving myself on the product side and learning how to code (at a leading global programming bootcamp).</p></li>
      <li id="hide-list"><p>I am searching for another great chance to learn and build after finishing university. If you like my profile and offer an opportunity to make an impactful contribution in a strategic field, do contact me via the links below. <p/></li>
    </div>
  </div>

</div>
