<div class="about">
  <img src='https://kitt.lewagon.com/placeholder/users/kaikuenne' class="avatar-bordered"/>
  <span>
    <h1>My focus: Developing and executing strategies for digitally oriented companies. </h2>
    <h2>Currently studying MSc Management & Strategy at LSE</h2>
    <h2>Open for full-time roles from Fall 2019.</h2>
  </span>
</div>
