<div class="consulting">
  <h4>I can help you:</h4>
  <ul>
    <li>develop and evaluate early-stage strategy.</li>
    <li>optimize fundraising processes and investor search.</li>
    <li>improve your sales and marketing organization.</li>
    <li>source high-profile junior talent.</li>
    <li>deliver keynotes and workshops on digital strategy and innovation.</li>
  </ul>
  <p>Get in touch to discuss these or custom requests, always happy to work on interesting projects.</p>
</div>
