<div class="cv">
  <h4>Previous affiliations</h4>
  <ul>
    <li>VC @ Earlybird</li>
    <li>Consulting @ Oliver Wyman & EY-Parthenon</li>
    <li>Sales @ Google</li>
    <li>Global Venture Development @ Rocket Internet & Audibene</li>
  </ul>

  <h4>Other projects I worked on.</h4>
  <ul>
    <li> Cofounder @ Juvigo Gmbh </li>
    <li> Cofounder @ TEDxWHU </li>
    <li> Head of Organization at WHU Private Equity Conference </li>
  </ul>

  <h4>Education.</h4>
  <ul>
    <h5>Business:</h5>
    <li>MSc Management & Strategy @ LSE</li>
    <li>BSc International Business @ WHU (+ exchange @ Bocconi)</li>

    <h5>Technical:</h5>
    <li>Full-Stack Web Development @ Le Wagon</li>
    <li>Trade Law @ Buccerius Law School (part of WHU degree)</li>
  </ul>
</div>
