<div class="head">
    <!-- <img src='https://kitt.lewagon.com/placeholder/users/kaikuenne' class="avatar-bordered"/> -->
    <div class="head-text">
      <h1 id="focus-headline">Kai Künne</h1>
    </div>
  </div>
