<div class="main-container">
  <div class="text">
    <div class="topline">
      <div class="short">
        <%= render 'shared/short' %>
      </div>
    </div>
    <div class="socials">
      <div class="social">
        <a href="mailto:mail@kaikuenne.com" target="_blank" title="Send me an Email"><i class="fas fa-envelope"></i></a>
      </div>
      <div class="social">
        <a href="tel:+4917667520717" target="_blank" title="Give me a call"><i class="fas fa-phone-square"></i></a>
      </div>
      <div class="social">
        <a href="https://www.linkedin.com/in/kaikuenne/" target="_blank" title="Find me on LinkedIn"><i class="fab fa-linkedin"></i></a>
      </div>
      <div class="social">
        <a href="https://www.facebook.com/kaikuenne" target="_blank" title="Find me on Facebook"><i class="fab fa-facebook"></i></a>
      </div>
    </div>
    <div class="stuff">
      <%= render 'shared/twitter' %>
    </div>
  </div>
</div>
