.about {

  h1 {
    display: inline;
    margin: 0px;
  };

  li, h1, h2, h3, h4, p {
    text-align: justify;
  };

  #hide-list {
    list-style: none;
  }

  #focus-headline {
    margin: 0px 0px 10px 0px;

  }
}
