    .about {

      h1 {
        display: inline;
        margin: 0px;
      };

      li, h1, h2, h3, h4, p {
        text-align: justify;
      };

      p {
        font-size: 1.1em;
      }

      .tl-dr{
        a {
          font-size: 1.1em;
          color: #333333;
        }
        li > p {
          display: inline;
        }
      }

      #hide-list {
        list-style: none;
      }

      #focus-headline {

      }
    }
