.footer {
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  a {
    width: auto;
    color: lightgray;

    &:hover {
      text-decoration: none;
      color: grey;
    }
  }
}
