.twitter {
  height: 60vh;
  width: 100%;
}

iframe.twitter-timeline {
    min-height: 80px !important;
}

body > div > div.timeline-Header.timeline-InformationCircle-widgetParent {
  display: none !important;
}

